.sample {
	font-size: 400%;
}
.sample1 {
	font-size: 300%;
}
.sample2 {
	font-size: 250%;
}
.sample3 {
	font-size: 300%;
}
.sample4 {
	font-size: 300%;
}

<!DOCTYPE html>
<html>
<head>

<title>文書のタイトル</title>

</head>
<body>



</body>
</html>